@import "tailwindcss";

:root {
  --background:#EDEBFF;
  --foreground:#050029;
  --primary:#0C007A;
  --secondary:#ADA6E8;
}

@theme inline {
  /* Colores */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Fuentes */
  --font-display: var(--font-display);
  --font-titles: var(--font-titles);
  --font-ui: var(--font-ui);
  --font-body: var(--font-body);

  /* Tamaños */
  --text-display: clamp(1rem, calc(2rem + 4dvw), 9rem);
}

[data-theme='dark'] {
  --background:#290000;
  --foreground:#F7EBDF;
  --primary:#FF8D85;
  --secondary:#A30000;
}


body {
  background: var(--background);
  color: var(--foreground);
}
